<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="admingroup" class="springhello.Group">
		<property name="name" value="AMMINISTRATORI"></property>	<!-- si modifica "name" -->
	</bean>

    <bean id="u1" class="springhello.User" scope="singleton" init-method="myInit" destroy-method="myDestroy">
		<constructor-arg name="name" value="Carlo"></constructor-arg>
		<constructor-arg name="group" ref="admingroup"></constructor-arg>
    		<property name="surname" value="Rossi"></property>
    </bean>
    
    <bean id="userfactory" class="springhello.UserFactory"></bean>
    
    <bean id="u2" class="springhello.User" factory-method="createInstance">
    	<constructor-arg name="name" value="Luca"></constructor-arg>
    	<constructor-arg name="group" ref="admingroup"></constructor-arg>
    	<property name="surname" value="Penzoni"></property>
    </bean>	<!-- si modifica "name" e "surname" -->
    
</beans>
